html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    /* min-width: 1200px; */
    background-repeat: no-repeat;
    background-attachment: fixed;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000533+0,2989d8+100,7db9e8+100 */
background: #000533; /* Old browsers */
background: -moz-linear-gradient(top,  #000533 0%, #2989d8 100%, #7db9e8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #000533 0%,#2989d8 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #000533 0%,#2989d8 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000533', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

}

body,button,textarea,input[type="text"] {
  font: menu;
  font-size: 1rem;
  line-height: 1.4;
  padding: 0;
  margin: 0;
}

input[type="button"] {
  font: menu;
  font-size: 1.2rem;
  line-height: 1.4;
  padding: 5px;
  margin: 0;
  width:49%;
}

input[type="button"]:disabled {
  background: silver;
}


.wrapper {
  /* border:1px solid black; */
  display: flex;
  flex-direction: column;
  width:100%;
  position: absolute; top:60%;
}

.navigation {
  /* border:1px solid black; */
  margin: 0 auto;
}

.content {
  /* border:1px solid black; */
  margin: 0 auto;
  height: 200px;
  width:35%;
  overflow: hidden;
  overflow-y: auto;
  padding: 20px;
  background-color:whitesmoke;
}

.shadow {
  -moz-box-shadow:    2px 2px 2px 2px #ccc;
  -webkit-box-shadow: 2px 2px 2px 2px #ccc;
  box-shadow:         2px 2px 2px 2px #ccc;
  border-radius:0%; /*supported by all latest Browser*/
  -moz-border-radius:4%; /*For older Browser*/
  -webkit-border-radius:4%;/*For older Browser*/
}

